# Dependencies
/node_modules

# Build output
/dist

# Environment files
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories
/.vscode
/.idea
/.fleet

# OS files
.DS_Store
Thumbs.db
